*
!posters/
!posters/Dark-Knight.webp
!posters/Dark-Knight.webp
!posters/Die-Hard.webp
!posters/Fight_Club.webp
!posters/Forrest-Gump.webp
!posters/Goodfellas.webp
!posters/Grand-Budapest-Hotel.webp
!posters/Hangover.webp
!posters/Inception.webp
!posters/Interstellar.webp
!posters/John-Wick.webp
!posters/Lord_of_the_rings.webp
!posters/Se7en.webp
!posters/Shawshank.webp
!posters/The_Godfather.webp
!posters/The_Matrix.webp
!posters/The-Conjuring.webp
!posters/The-Exorcist.webp
!posters/The-Fault-in-Our-Stars.webp
!posters/The-Notebook.webp
!posters/Titanic.webp
!.gitignore
